[submodule "qtpulseaudio/qtpulseaudio"]
	path = qtpulseaudio/qtpulseaudio
	url = https://github.com/dpurgin/qtpulseaudio.git
[submodule "libcontacts/libcontacts"]
	path = libcontacts/libcontacts
	url = https://github.com/dpurgin/libcontacts.git
