[Unit]
Description=Call Recorder Daemon
Requires=pulseaudio.service
Requires=dbus.socket
After=pre-user-session.target

[Service]
Type=simple
ExecStart=/usr/bin/harbour-callrecorderd
Restart=on-abort

[Install]
WantedBy=user-session.target
