[Unit]
Description=Call Recorder Daemon
Requires=pulseaudio.service
Requires=dbus.socket
After=pulseaudio.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/harbour-callrecorderd-pre.sh
ExecStart=/usr/bin/harbour-callrecorderd
Restart=on-failure
EnvironmentFile=-/home/nemo/.config/harbour-callrecorder/environment

[Install]
WantedBy=user-session.target
