[Desktop Entry]
Type=Application
X-Nemo-Application-Type=no-invoker
Icon=harbour-callrecorder
Exec=harbour-callrecorder-launcher.sh
Name=Call Recorder
# translation example:
# your app name in German locale (de)
Name[ru]=Запись звонков

