[Desktop Entry]
Type=Application
X-Nemo-Application-Type=no-invoker
Icon=harbour-callrecorder
Exec=harbour-callrecorder-launcher.sh
Name=Call Recorder
Name[cs]=Záznamník hovorů
Name[de]=Call Recorder
Name[el]=Call Recorder
Name[es]=Call Recorder
Name[fi]=Puhelutallennus
Name[fr]=Call Recorder
Name[it]=Call Recorder
Name[nl]=Oproepopname-applicatie
Name[pl]=Rejestrator Rozmów
Name[ru]=Запись звонков
Name[sk]=Záznamník hovorov
Name[sv]=Call Recorder
Name[zh_TW]=通話錄音器
Name[hu]=Hívásrögzítő

